<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SaveDialog">
		<size>337,138</size>
		<id_arg>0</id_arg>
		<object class="wxStaticBox" name="ID_STATICBOX1" variable="StaticBox1" member="yes">
			<label>File&apos;s name</label>
			<pos>8,8</pos>
			<size>320,56</size>
		</object>
		<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
			<value>DataBase</value>
			<pos>16,32</pos>
			<size>304,28</size>
		</object>
		<object class="wxButton" name="ID_OKEY" variable="Okey" member="yes">
			<label>Okey</label>
			<pos>208,88</pos>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_CANCEL" variable="Cancel" member="yes">
			<label>Cancel</label>
			<pos>40,88</pos>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
